# Configurações Básicas
DEBUG=True
SITE_ID=local
SERVER_NAME=localhost:7000
SITE_URL=http://localhost:7000
PREFERRED_URL_SCHEME=http
SESSION_COOKIE_SECURE=False

# URL do frontend Next.js
CDATA_BASE_URL=http://localhost:3000

# Serviços (ajustar se não forem localhost)
SERVER_MONGO=localhost
SERVER_REDIS=localhost

# Uploads de Ficheiros — ALTERAR PARA O TEU PATH ABSOLUTO
FS_ROOT=/home/SEU_USER/workspace/new-dadosgov/udata-fs

# Validação de URLs (apenas dev)
URLS_ALLOW_LOCAL=True
URLS_ALLOW_PRIVATE=True
URLS_ADDITIONAL_TLDS=local,tst,dev

# Segurança - Pedir à equipa
SENTRY_DSN= *****
SENTRY_ENVIRONMENT= *****

# Password policy - Pedir à equipa
SECURITY_PASSWORD_LENGTH_MIN= *****
SECURITY_PASSWORD_REQUIREMENTS_LOWERCASE= *****
SECURITY_PASSWORD_REQUIREMENTS_DIGITS= *****
SECURITY_PASSWORD_REQUIREMENTS_UPPERCASE= *****
SECURITY_PASSWORD_REQUIREMENTS_SYMBOLS= *****

# E-mail - Pedir à equipa
MAIL_SERVER= *****
MAIL_DEFAULT_SENDER= *****
MAIL_DEFAULT_RECEIVER= *****
MAIL_PORT= *****
MAIL_USE_TLS= *****
MAIL_USE_SSL= *****

# reCAPTCHA - Pedir à equipa
RECAPTCHA_PUBLIC_KEY= *****              
RECAPTCHA_PRIVATE_KEY= *****

# SAML / Autenticação.gov (opcional) - Pedir à equipa
# SECURITY_SAML_ENTITY_ID= *****
# SECURITY_SAML_KEY_FILE= *****
# SECURITY_SAML_CERT_FILE= *****
# SECURITY_SAML_IDP_METADATA= *****

# Tags - Pedir à equipa
TAG_MIN_LENGTH= *****
TAG_MAX_LENGTH= *****

# Export
READ_ONLY_MODE=False
